body {
  background: #0F111A;
  color: white;
  padding: 0 20px;
  margin: 0 auto;
  padding: 20px;
}

:root {
  --orange: orange;
  --green: yellowgreen;
  --yellow: yellow;
  --blue: aqua;
}

.item {
  background: var(--yellow);
  color: black;
  font-family: 'lato';
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.item:nth-child(2n) {
  background: var(--green);
}

.container {
  margin-top: 20px;
}

.banner__button {
  background: var(--green);
  color: black;
  font-size: 2rem;
  border: none;
  box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  background: var(--yellow);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.search {
  background: rgb(36, 41, 63);
  border: 2px solid transparent;
  border-bottom: 2px solid var(--blue);
  font-size: 2em;
  max-width: 300px;
  color: white;
}

.search:focus {
  border: 2px solid var(--blue);
}

.account {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #ddd;
  border-radius: 50%;
}

.banner__button:hover,
.account:hover,
.navigation li a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.albums {
  display: grid;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-gap: 20px;
  
  grid-template-columns: repeat(auto-fit, minmax(0, 300px));
  
  justify-content: center;
}

.albums figure {
  background: rgba(255,255,255, 0.1);
  padding: 20px;
  margin: 0;
  
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}

.albums img {
  max-width: 100%;
}