body {
  background: #0F111A;
  color: white;
  min-height: 95vh;
  width: calc(95vw - 40px);
  padding: 0 20px;
  margin: 0 auto;
}

:root {
  --orange: orange;
  --green: yellowgreen;
  --yellow: yellow;
  --blue: aqua;
}

.item {
  background: var(--yellow);
  color: black;
  font-family: 'lato';
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.item:nth-child(2n) {
  background: var(--green);
}

.container {
  margin-top: 20px;
}