div {
    width: 140px;
    height: 140px;
    color: #fff;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    padding: 0px;
}
.jeden {
    background-color: firebrick;
}
.dwa {
    background-color: chartreuse;
}
.trzy {
    background-color: dodgerblue;
}