body {
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: center;
  align-content: flex-start;
}

.card {
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  flex-basis: 100px;
  order: 0;
}

.card:nth-child(1) {
  order: 2;
}

.card:nth-child(2) {
  order: 1;
}

.card:nth-child(6) {
  order: -1;
}