@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2|Dancing+Script&display=swap');


* {
    margin: 0;
}

main {
    width: 80%;
    margin: 0 auto;

}

h1,
h3 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 10px 10px 20px black;
}

h1 {
    font-size: 100px;
    margin: 30px 0;
}

h3 {
    font-size: 40px;
    margin-bottom: 30px;
}

body {
    background-color: #d98cb3;

}

header {


    background: linear-gradient(0deg, #d98cb3, transparent),
        #d98cb3 url('../foto/zdjecie.jpg')no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;


}


img {
    height: 400px;
    max-width: 600px;
    border: 2px solid black;
}

figure:hover {
    transform: scale(1.3);
    transition-duration: 1s;
    transform: rotate(360deg);

}

h2 {
    margin-bottom: 20px;
    font-family: serif;
    font-family: 'Baloo Thambi 2', cursive;


}

figure {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;

}

/* --------------------------------- */
/* Classes */

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-1,
.item-2,
.item-3 {
    flex-grow: 4;

}