body {
  background: #0F111A;
  color: white;
  min-height: 95vh;
  width: calc(95vw - 40px);
  padding: 0 20px;
  margin: 0 auto;
  font-family: 'lato';
}

:root {
  --orange: orange;
  --green: yellowgreen;
  --yellow: yellow;
  --blue: aqua;
  --purple: rebeccapurple;
}

.item {
  background: var(--yellow);
  color: black;
  font-family: 'lato';
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  box-sizing: border-box;
}

.item:nth-child(2n) {
  background: var(--green);
}

.container {
  margin-top: 20px;
}

.container > * {
  padding: 20px;
}

.header {
  font-size: 4em;
  background: var(--yellow);
  color: black;
  text-align: center;
}
.item:focus {
  border: 5px solid var(--blue);
}

.content {
  background: var(--blue);
  color: black;
}

.footer ul {
  list-style-type: none;
  font-size: 3em;
}

.footer {
  background: var(--green);
  color: black;
}