section {
    width: 100px;
    height: 100px;
    color: #fff;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.jeden {
    background-color: firebrick;
}
.dwa {
    background-color: chartreuse;
}
.trzy {
    background-color: dodgerblue;
}