body {
  font-family: 'Arial';
  font-size: 0.8rem;
  line-height: 1.6;
}

.nizej {
    clear: both;
}

p {
  background: #CDDC39;
  padding: 20px;
  font-weight: 600;
}

img {
    float: left;
    margin-right: 20px;
}